<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Online Status</h1>
    <h2 class="hx-subtitle">The online status service detects when an angular app goes offline/online</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the HxUiModule to AppModule or SharedModule.</p>

    <pre>
      <code [highlight]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Example</h4>

    <div class="hx-columns">
      <div class="hx-column">

        <p>Use the browser console to emulate offline mode.</p>

        <div class="hx-columns">
          <div class="hx-column is-2">

                <div class="hx-card">
                  <div class="hx-card-content">
                    <p>App is currently: </p>
                    <span class="hx-badge" [class.is-primary]="isOnline" [class.is-danger]="!isOnline">
                     <span class="hx-badge-content">{{ (isOnline)? 'Online' : 'Offline' }}</span>
                  </span>
                  </div>
                </div>

          </div>
        </div>


      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
        <code [highlight]="code.exampleTemplate"></code>
      </pre>
          </hx-tab>
          <hx-tab heading="Typescript">
            <pre>
            <code [highlight]="code.exampleTypescript"></code>
          </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>

    <hr>


    <h4 id="api">API Reference</h4>


    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">OnlineStatusService</h5>
        <table class="hx-table is-striped">
          <thead>
          <tr>
            <th>Properties</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>online</td>
            <td><kbd>Observable</kbd></td>
            <td>Fires when online mode detected</td>
          </tr>
          <tr>
            <td>offline</td>
            <td><kbd>Observable</kbd></td>
            <td>Fires when offline mode detected</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>
  </ul>
</aside>
