<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Accordion</h1>
    <h2 class="hx-subtitle">Handles growing and contracting accordions</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the AccordionModule to AppModule or SharedModule.</p>

    <pre>
      <code [highlight]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Example</h4>

    <div class="hx-columns">
      <div class="hx-column">
        <hx-accordion>
          <hx-accordion-container>
            <hx-accordion-header>
              This is the header
            </hx-accordion-header>
             <hx-accordion-body>
              <p>This is the body</p>
            </hx-accordion-body> 
          </hx-accordion-container>
          <hx-accordion-container [expanded]="false">
            <hx-accordion-header>
              This is the second header. <b>You can even style it!</b> <i
                class="hx-icon icon-helix is-small is-info"></i>
            </hx-accordion-header>
            <hx-accordion-body>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Integer eu suscipit ante. Nulla nec nulla eget quam fringilla blandit.
                Vivamus gravida purus erat, id ultrices lacus sagittis vel.
                Etiam nec nulla eleifend velit tristique faucibus sed ut nisl.
              </p>
            </hx-accordion-body>
          </hx-accordion-container>
        </hx-accordion>
      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <hx-tabset>
      <hx-tab heading="Template">
        <pre>
              <code [highlight]="code.exampleTemplate"></code>
            </pre>
      </hx-tab>
    </hx-tabset>

    <hr>

    <br>

    <h4 id="example">Example 2 - With additional class binding</h4>

    <hx-accordion [cssClass]="{'is-elevate-3': true, 'is-text-unselectable': true}">
      <hx-accordion-container *ngFor="let item of items; index as i" [expanded]="false" [index]="i" [disabled]="item.body === null" [empty]="item.body" (headerClick)="someFunction($event)">
        <hx-accordion-header>
          <p>
            <b>{{ item.header }}</b>
          </p>
        </hx-accordion-header>
        <hx-accordion-body>
          <p>{{ item.body }}</p>
        </hx-accordion-body>
      </hx-accordion-container>
    </hx-accordion>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">
        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
              <code [highlight]="code.exampleTemplate2"></code>
            </pre>
          </hx-tab>
          <hx-tab heading="Component">
            <pre>
              <code [highlight]="code.exampleComponent2"></code>
            </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>

    <hr>

    <br>

    <h4 id="api">API Reference</h4>

    <h5 class="is-primary">Accordion Component</h5>
    <div class="hx-columns">
      <div class="hx-column">
        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Inputs</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>expanded</td>
              <td><kbd>boolean</kbd></td>
              <td>Determines if the accordion container is expanded by default on load.</td>
            </tr>
            <tr>
              <td>cssClass</td>
              <td><kbd>string</kbd></td>
              <td>Determines if the accordion container contains an additional class, binding via [ngClass].</td>
            </tr>
            <tr>
              <td>index</td>
              <td><kbd>number</kbd></td>
              <td>Provides an index to the accordion component for each container.</td>
            </tr>
            <tr>
              <td>disabled</td>
              <td><kbd>boolean</kbd></td>
              <td>False by default. Disables the accordion from expanding on any row which fits the condition. (headerClick) will still emit an output if configured.</td>
            </tr>
            <tr>
              <td>empty</td>
              <td><kbd>boolean</kbd></td>
              <td>True by default. Hides the caret down/up if the accordion container is empty.</td>
            </tr>
          </tbody>
        </table>

        <br>

        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Outputs</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>headerClick</td>
              <td><kbd>number</kbd></td>
              <td>Used in conjunction with [index]; This will emit an event with the [index] number provided.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6>
    </li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>

  </ul>
</aside>
