<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Tooltips</h1>
    <h2 class="hx-subtitle">The tooltip component is a message component which appears when a cursor is positioned over an icon, image, hyperlink, or other element.</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the TooltipsModule to AppModule or SharedModule.</p>

    <pre>
      <code [highlight]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Example</h4>

    <div class="hx-columns">
      <div class="hx-column">

        <p>Here is an example of a link with a tooltip that has a top placement
          <a href="#" hxTooltip="my tooltip message is here" [disabled]="false"  placement="top">tooltip</a>. You can also have tooltips appear on the
          <a href="#" hxTooltip="my tooltip showing on the right" [disabled]="false"  placement="right">right</a> or on the
          <a href="#" hxTooltip="my tooltip showing on the left" [disabled]="false"  placement="left">left</a>.
        </p>

        <p>You can set the context (colour) of the tooltip to
          <a href hxTooltip="Success!"  placement="bottom" [context]="contextEnum.Success">success</a>,
          <a href hxTooltip="Warning!" placement="bottom" [context]="contextEnum.Warning">warning</a>, or
          <a href hxTooltip="Danger!"  placement="bottom" [context]="contextEnum.Danger">danger</a>.
        </p>

        <p>
          You can use formatted HTML in the tooltip and you can set the width in pixels of the tooltip:
          <i class="hx-icon icon-information-outline" hxTooltip [autoClose]="false" placement="right" maxWidth="350">
            <div *hxaTooltipDynamicContent>
              <div class='is-text-left pa-3'>
                ENABLED FOR
                <ul>
                  <li>Card payments</li>
                  <li>Fully paid patient claims with EasyClaim</li>
                  <li>Dynamic content with <a (click)="onClickHandler($event)">links</a></li>
                </ul>
              </div>
            </div>
          </i>
        </p>

      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
              <code [highlight]="code.exampleTemplate"></code>
            </pre>
          </hx-tab>
          <hx-tab heading="Typescript">
            <pre>
              <code [highlight]="code.exampleTypescript"></code>
            </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>

    <hr>

    <h4 id="api">API Reference</h4>


    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">TooltipContentComponent</h5>

        <table class="hx-table  is-striped">
          <thead>
            <tr>
              <th>Input</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>hostElement</td>
              <td><kbd>HTMLElement</kbd></td>
              <td>the element that will call this component to show</td>
            </tr>
            <tr>
              <td>content</td>
              <td><kbd>String</kbd></td>
              <td>the content that shows inside the tooltip</td>
            </tr>
            <tr>
              <td>placement</td>
              <td><kbd>String</kbd></td>
              <td>place the tooltip either top|bottom|left|right</td>
            </tr>
            <tr>
            <td>context</td>
              <td><kbd>Enum</kbd></td>
              <td>set the context (colour) to either Success|Warning|Danger|None</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">TooltipDirective</h5>

        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Input</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>autoClose</td>
              <td><kbd>Boolean</kbd></td>
              <td>Indicates that the tooltip will be closed on document click</td>
            </tr>
            <tr>
              <td>content</td>
              <td><kbd>String</kbd></td>
              <td>the content that shows inside the tooltip</td>
            </tr>
            <tr>
              <td>disabled</td>
              <td><kbd>Boolean</kbd></td>
              <td>disable the tooltip or not</td>
            </tr>
            <tr>
              <td>placement</td>
              <td><kbd>String</kbd></td>
              <td>place the tooltip either top|bottom|left|right</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>
  </ul>
</aside>
