<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Text Input</h1>
    <h2 class="hx-subtitle">Text input directive that adds a little more than what CSS can offer</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the TextInputModule to AppModule or SharedModule.</p>

    <pre>
      <code [highlight]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Example</h4>

    <div class="hx-columns">
      <div class="hx-column">

          <div class="hx-input-control">
            <input hxaTextInput class="hx-input" type="text" required >
            <label class="hx-label">Required field <sup>*</sup></label>
            <div class="hx-help">Help text</div>
          </div>

          <div class="hx-input-control">
            <input hxaTextInput class="hx-input" type="text" value="Hello" required>
            <label class="hx-label">Required field with default value <sup>*</sup></label>
            <div class="hx-help">Help text</div>
          </div>

          <div class="hx-input-control">
            <input hxaTextInput class="hx-input" type="text" placeholder="Sample placeholder" required>
            <label class="hx-label">Required field with placeholder <sup>*</sup></label>
            <div class="hx-help">Help text</div>
          </div>

          <div class="hx-input-control">
            <input hxaTextInput class="hx-input" type="text" >
            <label class="hx-label">Optional field</label>
            <div class="hx-help">Help text</div>
          </div>

          <div class="hx-input-control">
            <input hxaTextInput class="hx-input" type="text" value="Hello">
            <label class="hx-label">Optional field with default value</label>
            <div class="hx-help">Help text</div>
          </div>

          <div class="hx-input-control">
            <input hxaTextInput class="hx-input" type="text" placeholder="Sample placeholder">
            <label class="hx-label">Optional field with placeholder</label>
            <div class="hx-help">Help text</div>
          </div>


        <div class="hx-input-control is-danger">
            <input hxaTextInput class="hx-input" type="email" value="joe.chan@medicaldirector.com" required>
            <label class="hx-label">Email <sup>*</sup></label>
            <div class="hx-help">Danger!</div>
        </div>


        <div class="hx-input-control">
            <input hxaTextInput class="hx-input" type="text" disabled placeholder="I am disabled" required>
            <label class="hx-label">This is Disabled</label>
            <div class="hx-help">Danger!</div>
        </div>


        <div class="hx-input-group">
            <i class="hx-icon icon-search"></i>
            <div class="hx-input-control">
            <input hxaTextInput class="hx-input" type="text" required>
            <label class="hx-label">Search <sup>*</sup></label>
            <div class="hx-help">Please search by patient name</div>
            </div>
            <div class="hx-input-actions">
            <div class="hx-loader is-small"><div></div><div></div><div></div><div></div></div>
            <div class="hx-button-group">
                <button class="hx-button is-flat"><span class="hx-icon-control"><i class="icon icon-close-empty"></i></span></button>
                <button class="hx-button is-flat"><span class="hx-icon-control"><i class="icon icon-plus"></i></span></button>
            </div>
            </div>
        </div>

        <div class="hx-input-group">
            <i class="hx-icon icon-person"></i>
            <div class="hx-input-control">
            <input hxaTextInput class="hx-input" type="text" value="JG001" required>
            <label class="hx-label">Username <sup>*</sup></label>
            <div class="hx-help">Please enter your username</div>
            </div>
            <i class="hx-icon icon-check-empty is-medium is-success"></i>
        </div>

      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
              <code [highlight]="code.exampleTemplate"></code>
            </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>


  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
  </ul>
</aside>
