@import '~@hxui/css/static/static/scss/variables';
// base styles

$selectize-font-family: inherit;
$selectize-font-smoothing: inherit;
$selectize-font-size: $hx-font-form-elements-size;
$selectize-line-height: $hx-line-height-base;

$selectize-color-text: $hx-color-dark;
$selectize-color-border: transparent;
$selectize-color-highlight: rgba(35, 49, 43, .23);
$selectize-color-input: transparent;
$selectize-color-input-full: $selectize-color-input;
$selectize-color-disabled: #fafafa;
$selectize-color-item: rgba(0,0,0,.05);
$selectize-color-item-text: $hx-color-gray-dark;
$selectize-color-item-border: transparent;
$selectize-color-item-active: #e8e8e8;
$selectize-color-item-active-text: $selectize-color-text;
$selectize-color-item-active-border: #cacaca;
$selectize-color-dropdown: #fff;
$selectize-color-dropdown-border: $selectize-color-border;
$selectize-color-dropdown-border-top: #f0f0f0;
$selectize-color-dropdown-item-active: $hx-color-primary;
$selectize-color-dropdown-item-active-text: #fff;
$selectize-color-dropdown-item-create-text: rgba(red($selectize-color-text), green($selectize-color-text), blue($selectize-color-text), 0.5);
$selectize-color-dropdown-item-create-active-text: $selectize-color-dropdown-item-active-text;
$selectize-color-optgroup: $selectize-color-dropdown;
$selectize-color-optgroup-text: $selectize-color-text;
$selectize-lighten-disabled-item: 30%;
$selectize-lighten-disabled-item-text: 30%;
$selectize-lighten-disabled-item-border: 30%;
$selectize-opacity-disabled: 0.5;

$selectize-shadow-input: none;
$selectize-shadow-input-focus: none;
$selectize-border: transparent;
$selectize-dropdown-border: transparent;
$selectize-border-radius: 0;

$selectize-width-item-border: 0;
$selectize-max-height-dropdown: 200px;

$selectize-padding-x: 8px;
$selectize-padding-y: 8px;
$selectize-padding-top-rem: .6rem;
$selectize-padding-bottom-rem: .55rem;
$selectize-padding-item-x: 6px;
$selectize-padding-item-y: 2px;
$selectize-padding-dropdown-item-x: $selectize-padding-x;
$selectize-padding-dropdown-item-y: 5px;
$selectize-margin-item-x: 3px;
$selectize-margin-item-y: 3px;

$selectize-arrow-size: 5px;
$selectize-arrow-color: #808080;
$selectize-arrow-offset: 15px;

$selectize-caret-margin: 0 2px 0 0;
$selectize-caret-margin-rtl: 0 4px 0 -2px;

@mixin selectize-border-radius($radii){
	-webkit-border-radius: $radii;
	-moz-border-radius: $radii;
	border-radius: $radii;
}
@mixin selectize-unselectable(){
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin selectize-box-shadow($shadow){
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}
@mixin selectize-box-sizing($type: border-box){
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	box-sizing: $type;
}
@mixin selectize-vertical-gradient($color-top, $color-bottom){
    background-color: mix($color-top, $color-bottom, 60%);
    background-image: -moz-linear-gradient(top, $color-top, $color-bottom); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($color-top), to($color-bottom)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, $color-top, $color-bottom); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, $color-top, $color-bottom); // Opera 11.10
    background-image: linear-gradient(to bottom, $color-top, $color-bottom); // Standard, IE10
    background-repeat: repeat-x;
}


.selectize-control {
	position: relative;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
	color: $selectize-color-text;
	font-family: $selectize-font-family;
	font-size: $selectize-font-size;
	line-height: $selectize-line-height;
	-webkit-font-smoothing: $selectize-font-smoothing;
}

.selectize-input, .selectize-control.single .selectize-input.input-active {
	background: $selectize-color-input;
	cursor: text;
	display: inline-block;
}

.selectize-input {
	border: $selectize-border;
	padding: $selectize-padding-top-rem 0 $selectize-padding-bottom-rem 0;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	@include selectize-box-sizing(border-box);
	@include selectize-box-shadow($selectize-shadow-input);
	@include selectize-border-radius($selectize-border-radius);
  border: 1px solid rgba(0, 0, 0, .2);
  border-width: 0 0 1px 0;

	.selectize-control.multi &.has-items {
		$padding-x: $selectize-padding-x;
		$padding-top: $selectize-padding-y - $selectize-padding-item-y - $selectize-width-item-border;
		$padding-bottom: $selectize-padding-y - $selectize-padding-item-y - $selectize-margin-item-y - $selectize-width-item-border;
		padding: $padding-top 0 $padding-bottom;
	}

  .selectize-control.multi.hasCaret &.has-items{
    padding-right:1rem;
  }

	&.full {
		background-color: $selectize-color-input-full;
	}
	&.disabled, &.disabled * {
		cursor: default !important;
	}
	&.focus {
		@include selectize-box-shadow($selectize-shadow-input-focus);
	}
	&.dropdown-active {
		@include selectize-border-radius($selectize-border-radius $selectize-border-radius 0 0);
	}

	> * {
		vertical-align: baseline;
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
		*display: inline;
	}
	.selectize-control.multi & > div {
		cursor: pointer;
		margin: 4px;
		padding: $selectize-padding-item-y $selectize-padding-item-x;
		background: $selectize-color-item;
		color: $selectize-color-item-text;
		border: $selectize-width-item-border solid $selectize-color-item-border;
    border-radius: 290486px;
    font-size: $hx-font-size-xs;
    justify-content: center;
    line-height: 1.5;
    white-space: nowrap;

		&.active {
			background: $selectize-color-item-active;
			color: $selectize-color-item-active-text;
			border: $selectize-width-item-border solid $selectize-color-item-active-border;
		}
	}
	.selectize-control.multi &.disabled > div {
		&, &.active {
			color: lighten(desaturate($selectize-color-item-text, 100%), $selectize-lighten-disabled-item-text);
			background: lighten(desaturate($selectize-color-item, 100%), $selectize-lighten-disabled-item);
			border: $selectize-width-item-border solid lighten(desaturate($selectize-color-item-border, 100%), $selectize-lighten-disabled-item-border);
		}
	}
	> input {
		&::-ms-clear {
			display: none;
		}
		display: inline-block !important;
		padding: 0 !important;
		min-height: 0 !important;
		max-height: none !important;
		max-width: 100% !important;
		margin: $selectize-caret-margin !important;
		text-indent: 0 !important;
		border: 0 none !important;
		background: none !important;
		line-height: inherit !important;
		-webkit-user-select: auto !important;
		// .selectize-box-shadow(none) !important;
		&:focus { outline: none !important; }
	}
}

.selectize-input::after {
	content: ' ';
	display: block;
	clear: left;
}

.selectize-input.dropdown-active::before {
	content: ' ';
	display: block;
	position: absolute;
	background: $selectize-color-dropdown-border-top;
	height: 1px;
	bottom: 0;
	left: 0;
	right: 0;
}

.hx-select-control:after{  display:none;}
.selectize-dropdown {
	position: absolute;
  z-index: 1000;
	border: $selectize-dropdown-border;
	background: $selectize-color-dropdown;
	margin: 1px 0 0 0;
	border-top: 0 none;
	@include selectize-box-sizing(border-box);
	@include selectize-box-shadow(0 6px 12px rgba(0,0,0,.145));
	@include selectize-border-radius(0 0 $selectize-border-radius $selectize-border-radius);

	[data-selectable] {
		cursor: pointer;
		overflow: hidden;
		.highlight {
			background: $selectize-color-highlight;
			@include selectize-border-radius(1px);
      font-weight: bold;
		}
	}
	[data-selectable], .optgroup-header {
		padding: $selectize-padding-dropdown-item-y $selectize-padding-dropdown-item-x;
	}
	.optgroup:first-child .optgroup-header {
		border-top: 0 none;
	}
	.optgroup-header {
		color: $selectize-color-optgroup-text;
		background: $selectize-color-optgroup;
		cursor: default;
	}
	.active {
		background-color: $selectize-color-dropdown-item-active;
		color: $selectize-color-dropdown-item-active-text;
		&.create {
			color: $selectize-color-dropdown-item-create-active-text;
		}
	}
	.create {
		color: $selectize-color-dropdown-item-create-text;
	}
}

.selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: $selectize-max-height-dropdown;
	-webkit-overflow-scrolling: touch;
}

.selectize-control.single .selectize-input,
.selectize-control.hasCaret .selectize-input{
	&, input { cursor: pointer; }
	&.input-active, &.input-active input { cursor: text; }

	&:after {
		content: ' ';
		display: block;
		position: absolute;
		top: 50%;
		right: $selectize-arrow-offset;
		margin-top: round((-1 * $selectize-arrow-size / 2));
		width: 0;
		height: 0;
		border-style: solid;
		border-width: $selectize-arrow-size $selectize-arrow-size 0 $selectize-arrow-size;
		border-color: $selectize-arrow-color transparent transparent transparent;
	}
	&.dropdown-active:after {
		margin-top: $selectize-arrow-size * -0.8;
		border-width: 0 $selectize-arrow-size $selectize-arrow-size $selectize-arrow-size;
		border-color: transparent transparent $selectize-arrow-color transparent;
	}
}

.selectize-control.multi.hasCaret .selectize-input.has-items{
  &:after {
    top: initial;
    bottom:1.3rem;
  }
}

.selectize-control.rtl {
	&.single .selectize-input:after,
  &.hasCaret .selectize-input:after {
		left: $selectize-arrow-offset;
		right: auto;
	}
	.selectize-input > input {
		margin: $selectize-caret-margin-rtl !important;
	}
}

.selectize-control .selectize-input.disabled {
	opacity: $selectize-opacity-disabled;
	background-color: $selectize-color-disabled;
}


hxa-selectize {
  .hx-input-control {
    padding-top: .21rem;

    .hx-label {
      position: absolute;
      top: .7rem;
      margin: 0;
      font-weight: normal;
      color: $hx-color-gray-lighter;
      left: 0;
      transition: .3s;
      z-index: 0;

      sup {
        top: -.2rem;
        color: $hx-color-danger;
        font-size: .7rem;
        transition: .3s;
      }

      & + .hx-help {
        font-size: .75rem;
        margin-top: -.09rem;
        color: $hx-color-gray-light;
        transition: .3s;
        opacity: 0;
        position: relative;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: -.4rem;
          width: 0%;
          height: 3px;
          background-color: $hx-input-focus-border;
          transition: .3s;
          z-index: 1;
        }
        &:before {
          left: 50%;
        }
        &:after {
          right: 50%;
        }
      }
    }

    &.is-focused {
      .hx-label {
        color: $hx-color-primary;
      }
      .hx-help{
        opacity: 1;
        &:before,
        &:after {
          width: 50%;
        }
      }
    }

    &.is-focused,
    &.is-valid {
      .hx-label {
        top: $hx-font-form-label-focus-top;
        font-size: .75rem;
        sup {
          top: -.3rem;
          font-size: .4rem;
        }
      }
    }
  }
  .selectize-control {

    &:focus {
      outline: none;
    }

    &:focus ~ .hx-label,
    &:valid ~ .hx-label,
    &:-webkit-autofill ~ .hx-label {
      top: $hx-font-form-label-focus-top;
      font-size: .75rem;
      sup {
        top: -.3rem;
        font-size: .4rem;
      }
    }

    &:focus ~ .hx-label,
    &:-webkit-autofill ~ .hx-label {
      color: $hx-color-primary;
    }

    &:focus ~ .hx-help,
      // &:valid ~ .#{$namespace}-help,
    &:-webkit-autofill ~ .hx-label {
      opacity: 1;
      &:before,
      &:after {
        width: 50%;
      }
    }

    &[disabled],
    &.is-disabled {
      border-color: $hx-input-disabled-border;
      color: $hx-input-disabled;
      cursor: $hx-cursor-disabled;

      & ~ .hx-label {
        top: $hx-font-form-label-focus-top;
        font-size: .75rem;
        color: $hx-input-disabled;
        cursor: $hx-cursor-disabled;

        sup {
          font-size: .4rem;
        }
      }
    }
  }

  &.ng-invalid.ng-dirty {
    .hx-label {
      color: $hx-color-danger;

      & + .hx-help {
        position: relative;
        opacity: 1;
        color: $hx-color-danger;

        &:before,
        &:after {
          width: 50%;
          background-color: $hx-color-danger;
        }
      }
    }
  }
}

// @import "plugins/drag_drop";
// @import "plugins/dropdown_header";
// @import "plugins/optgroup_columns";
 @import "plugins/remove-button";


