<section class="hx-section scrollable-y">
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Install Guide</h1>
    <h2 class="hx-subtitle">Adding HxUI-angular into a project</h2>
    <hr>

    <div class="hx-columns">
      <div class="hx-column">

        <section>
          <p><span class="h5">1.</span> Use <strong>NPM</strong>:</p>
          <pre><code [highlight]="code.step1"></code></pre>
        </section>

        <br>

        <section>
          <p><span class="h5">2. </span><strong>Import all web component modules</strong> into app module or shared module.</p>
          <pre><code [highlight]="code.step2"></code></pre>
        </section>
        <br>

        <section>
          <p><span class="h5">3. </span>Alternatively <strong>import each web component module</strong> that you need individually.</p>
          <pre><code [highlight]="code.step3"></code></pre>
        </section>

        <br>
        <section>
          <div class="hx-alert is-warning is-inverse is-bordered">
          <span class="hx-icon-control mr-2">
            <i class="hx-icon is-medium icon-exclamation"></i>
          </span>
                    <span class="hx-flex-1">
                      The <a href="https://material.angular.io/cdk/categories" target="_blank">Material CDK</a> has been used to construct some of the web components in HxUi.<br>
                      In order for components to work correctly, you will need to include some of the structural css provided.
          </span>
          </div>
          <pre><code [highlight]="code.cdk"></code></pre>
        </section>
      </div>
    </div>

  </div>
</section>
