.collapsedFilter__menu{

  a.is-disabled{
    opacity: 0.3;
  }

  &.panes{
    width:15rem;
    overflow:hidden;

    .panes__inner{
      display:flex;
      list-style: none;
      padding:0;
      margin-top:0;
    }

    .panes__item{
      min-width:15rem;
      max-width:15rem;

      > ul {
        max-height: 20rem;
        overflow-y: auto;
        overflow-x: hidden;

        > li:last-child:not(:first-child) a {
          border-bottom:none;
        }
      }
    }

    .checkboxRow {
      display: flex;
      min-height: 44px;
      padding: 0.6rem 1rem;
      line-height: 1.2;
      align-items: center;
      color: black;
      transition: .3s;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
  }
}
