<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Auto Grow</h1>
    <h2 class="hx-subtitle">Allows a textarea form element to auto grow based on it's contents</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the AutoGrowModule to AppModule or SharedModule.</p>

    <pre>
      <code [highlight]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Example</h4>
    <p>Type and hit enter to see how auto grow works</p>

    <div class="hx-columns">
      <div class="hx-column">

        <div class="hx-card">
          <div class="hx-card-content mt-8">
            <div class="hx-input-control">
              <textarea id="exampletextarea" name="textarea-sample" class="hx-textarea" placeholder="Placeholder text" autogrow></textarea>
              <label for="exampletextarea" class="hx-label">Textarea with Placeholder </label>
              <div class="hx-help">Textarea hint (if required)</div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">
        <pre>
         <code [highlight]="code.example"></code>
        </pre>
      </div>
    </div>


  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading"><h6>Contents</h6></li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>

  </ul>
</aside>
