.selectize-control.plugin-remove_button {

	[data-value] {
		position: relative;
		padding-right: .7rem !important;
	}

  [data-value].is-medium {
    padding-right: 1rem !important;
  }

	[data-value]  .hx-delete {
    margin-left: -0.2rem;
    height: 16px;
    width: 16px;
    max-height: 16px;
    max-width: 16px;
    min-height: 16px;
    min-width: 16px;
	}

   [data-value].is-medium .hx-delete {
    margin-left: -0.5rem;
  }

   [data-value].is-large .hx-delete {
    margin-left: -0.2rem;
    height: 20px;
    width: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
  }


	[data-value] .hx-remove:hover {

	}
	[data-value].active .hx-remove {

	}
	.disabled [data-value] .hx-remove:hover {
		background: none;
	}
	.disabled [data-value] .hx-remove {
		border-left-color: lighten(desaturate($selectize-color-item-border, 100%), $selectize-lighten-disabled-item-border);
	}
	.remove-single {
		position: absolute;
		right: 28px;
		top: 6px;
		font-size: 23px;
	}
}
