<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Pagination</h1>
    <h2 class="hx-subtitle">Provides pagination links for multi-page pagination.</h2>

    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the PaginationModule to AppModule or SharedModule.</p>

    <pre>
      <code [highlight]="code.usage"></code>
    </pre>


    <hr>

    <h4>Examples</h4>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></hx-pagination>
        <br>
        <hx-pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></hx-pagination>
        <br>
        <hx-pagination [directionLinks]="false" [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage"></hx-pagination>
        <br>
        <hx-pagination [directionLinks]="true" [boundaryLinks]="true" [rotate]="false" [totalItems]="totalItems" [maxSize]="7" [(ngModel)]="currentPage"></hx-pagination>
        <br>
        <hx-pagination [directionLinks]="false" [totalItems]="totalItems" [(ngModel)]="currentPage" (numPages)="smallnumPages = $event"></hx-pagination>
        <br>
        <hx-pager [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" pageBtnClass="hx-button" itemsPerPage="10"></hx-pager>
        <br>


        <div class="hx-flex hx-flex-justify-center">
          <div>
            <pre>The selected page no: {{currentPage}}/{{smallnumPages}}</pre>
            <button type="button" class="hx-button is-info" (click)="setPage(3)">Set current page to: 3</button>
          </div>
        </div>

      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
              <code [highlight]="code.exampleTemplate"></code>
            </pre>
          </hx-tab>
          <hx-tab heading="Typescript">
            <pre>
              <code [highlight]="code.exampleTypescript"></code>
            </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>

    <hr>

    <h4 id="api">API Reference</h4>

    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">PaginationComponent</h5>

        <table class="hx-table  is-striped">
          <thead>
            <tr>
              <th>Input</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tbody>
              <tr>
                <td>align</td>
                <td><kbd>boolean</kbd></td>
                <td>if <code class="noHighlight">true</code> aligns each link to the sides of pager</td>
              </tr>
              <tr>
                <td>boundaryLinks</td>
                <td><kbd>boolean</kbd></td>
                <td>if <code class="noHighlight">false</code> first and last buttons will be hidden</td>
              </tr>
              <tr>
                <td>directionLinks</td>
                <td><kbd>boolean</kbd></td>
                <td>if <code class="noHighlight">false</code> previous and next buttons will be hidden</td>
              </tr>
              <tr>
                <td>disabled</td>
                <td><kbd>boolean</kbd></td>
                <td>if <code class="noHighlight">true</code> pagination component will be disabled</td>
              </tr>
              <tr>
                <td>firstText</td>
                <td><kbd>string</kbd></td>
                <td>first button text </td>
              </tr>
              <tr>
                <td>itemsPerPage</td>
                <td><kbd>number</kbd></td>
                <td>maximum number of items per page. If value less than 1 will display all items on one page </td>
              </tr>
              <tr>
                <td>lastText</td>
                <td><kbd>string</kbd></td>
                <td>last button text</td>
              </tr>
              <tr>
                <td>maxSize</td>
                <td><kbd>number</kbd></td>
                <td>limit number for page links in pager</td>
              </tr>
              <tr>
                <td>nextText</td>
                <td><kbd>string</kbd></td>
                <td>next button text</td>
              </tr>
              <tr>
                <td>pageBtnClass</td>
                <td><kbd>string</kbd></td>
                <td>add class to</td>
              </tr>
              <tr>
                <td>previousText</td>
                <td><kbd>string</kbd></td>
                <td>previous button text</td>
              </tr>
              <tr>
                <td>rotate</td>
                <td><kbd>boolean</kbd></td>
                <td>if <code class="noHighlight">true</code> current page will in the middle of pages list</td>
              </tr>
              <tr>
                <td>sticky</td>
                <td><kbd>boolean</kbd></td>
                <td>if <code class="noHighlight">true</code> the <code class="noHighlight">.is-sticky</code> modifier will be added to the component</td>
              </tr>
              <tr>
                <td>totalItems</td>
                <td><kbd>number</kbd></td>
                <td>total number of items in all pages</td>
              </tr>
            </tbody>
        </table>

        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Outputs</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>numPages</td>
              <td>fired when total pages count changes, $event:number equals to total pages count</td>
            </tr>
            <tr>
              <td>pageChanged</td>
              <td>fired when page was changed, <code class="noHighlight">$event:{{ '{' }}page, itemsPerPage}</code> equals to object with current page index and number of items per page</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">PagerComponent</h5>

        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Input</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>align</td>
              <td><kbd>boolean</kbd></td>
              <td>if <code class="noHighlight">true</code> aligns each link to the sides of pager</td>
            </tr>
            <tr>
              <td>boundaryLinks</td>
              <td><kbd>boolean</kbd></td>
              <td>if <code class="noHighlight">false</code> first and last buttons will be hidden</td>
            </tr>
            <tr>
              <td>directionLinks</td>
              <td><kbd>boolean</kbd></td>
              <td>if <code class="noHighlight">false</code> previous and next buttons will be hidden</td>
            </tr>
            <tr>
              <td>disabled</td>
              <td><kbd>boolean</kbd></td>
              <td>if <code class="noHighlight">true</code> pagination component will be disabled</td>
            </tr>
            <tr>
              <td>firstText</td>
              <td><kbd>string</kbd></td>
              <td>first button text</td>
            </tr>
            <tr>
              <td>itemsPerPage</td>
              <td><kbd>number</kbd></td>
              <td>maximum number of items per page. If value less than 1 will display all items on one page</td>
            </tr>
            <tr>
              <td>lastText</td>
              <td><kbd>string</kbd></td>
              <td>last button text</td>
            </tr>
            <tr>
              <td>maxSize</td>
              <td><kbd>number</kbd></td>
              <td>limit number for page links in pager</td>
            </tr>
            <tr>
              <td>nextText</td>
              <td><kbd>string</kbd></td>
              <td>next button text</td>
            </tr>
            <tr>
              <td>pageBtnClass</td>
              <td><kbd>string</kbd></td>
              <td>add class to</td>
            </tr>
            <tr>
              <td>previousText</td>
              <td><kbd>string</kbd></td>
              <td>previous button text</td>
            </tr>
            <tr>
              <td>rotate</td>
              <td><kbd>boolean</kbd></td>
              <td>if <code class="noHighlight">true</code> current page will in the middle of pages list</td>
            </tr>
            <tr>
              <td>totalItems</td>
              <td><kbd>number</kbd></td>
              <td>total number of items in all pages</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>
  </ul>
</aside>
