<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Loaders</h1>
    <h2 class="hx-subtitle">A component that renders different types of loaders</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the LoadersModule to AppModule or SharedModule.</p>

    <pre>
      <code [highlight]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Examples</h4>


  <div class="hx-columns">
    <div class="hx-column">
      <div class="hx-card">
        <div class="hx-card-header"><div class="hx-card-header-title">Sizes</div></div>
        <div class="hx-card-content">
          <div class="hx-columns">
            <div class="hx-column"><hxa-loader></hxa-loader></div>
            <div class="hx-column"><hxa-loader [size]="sizeEnum.Small"></hxa-loader></div>
          </div>
        </div>
      </div>
    </div>
    <div class="hx-column">
      <div class="hx-card">
        <div class="hx-card-header"><div class="hx-card-header-title">Contextual</div></div>
        <div class="hx-card-content">
          <div class="hx-columns">
            <div class="hx-column"><hxa-loader [context]="contextEnum.Info"></hxa-loader></div>
            <div class="hx-column"><hxa-loader [context]="contextEnum.Success"></hxa-loader></div>
            <div class="hx-column"><hxa-loader [context]="contextEnum.Danger"></hxa-loader></div>
            <div class="hx-column"><hxa-loader [context]="contextEnum.Warning"></hxa-loader></div>
          </div>
        </div>
      </div>
    </div>
  </div>






    <br>

    <h5 id="code">Code</h5>

    <hx-tabset>
      <hx-tab heading="Template">
            <pre>
              <code [highlight]="code.exampleTemplate"></code>
            </pre>
      </hx-tab>
      <hx-tab heading="Typescript">
            <pre>
              <code [highlight]="code.exampleTypescript"></code>
            </pre>
      </hx-tab>
    </hx-tabset>

    <hr>

    <h4 id="api">API Reference</h4>

    <h5 class="is-primary">Loaders Component</h5>
    <div class="hx-columns">
      <div class="hx-column">
        <table class="hx-table is-striped">
          <thead>
          <tr>
            <th>Inputs</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>size</td>
            <td><kbd>Enum</kbd></td>
            <td>Set the loader size to either Small|Large|Default</td>
          </tr>
          <tr>
            <td>context</td>
            <td><kbd>Enum</kbd></td>
            <td>Set the context (colour) to either Success|Warning|Danger|Info|None</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading"><h6>Contents</h6></li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>

  </ul>
</aside>
