<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Tabs</h1>
    <h2 class="hx-subtitle">The tab component is a small complete navigation component. Do I really need to explain what tabs are? :)</h2>
    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the TabsModule to AppModule or SharedModule.</p>

    <pre>
      <code [highlight]="code.usage"></code>
    </pre>

    <hr>

    <h4 id="example">Example</h4>

    <div class="hx-columns">
      <div class="hx-column">

        <div (click)="$event.preventDefault()">
          <p>Select an option:</p>
          <p>
            <button type="button" class="hx-button is-primary" (click)="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable forth tab</button>
          </p>

          <br>

          <hx-tabset [stickyHeader]="true" [stickyHeaderOffset]="-1">
            <hx-tab heading="Static title">Static content</hx-tab>
            <hx-tab *ngFor="let tabz of tabs" [heading]="tabz.title" [active]="tabz.active" (select)="onSelect(tabz)" (deselect)="onDeselect(tabz)" [disabled]="tabz.disabled" [removable]="tabz.removable" (removed)="removeTabHandler(tabz)" [customClass]="tabz.customClass">
              {{tabz?.content}}
            </hx-tab>
            <hx-tab (select)="alertMe()">
              <ng-template hxTabHeading>
                <i class="icon icon-bell is-small"></i> Alert!
              </ng-template>
              Html tab heading and callback!
              Html tab heading and callback!Html tab heading and callback!Html tab heading and callback!
              Html tab heading and callback!
              Html tab heading and callback!Html tab heading and callback!
              Html tab heading and callback!Html tab heading and callback!<br>
              Html tab heading and callback!Html tab heading and callback! Html tab heading and callback!
              Html tab heading and callback!Html tab heading and callback!Html tab heading and callback!
              Html tab heading and callback!
              Html tab heading and callback!Html tab heading and callback!
              Html tab heading and callback!Html tab heading and callback!<br>
              Html tab heading and callback!Html tab heading and callback!





            </hx-tab>
          </hx-tabset>


        </div>

      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
        <code [highlight]="code.exampleTemplate"></code>
      </pre>
          </hx-tab>
          <hx-tab heading="Typescript">
            <pre>
            <code [highlight]="code.exampleTypescript"></code>
          </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>

    <hr>

    <h4 id="infotabexample">Info Tab Example</h4>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-tabset [justified]="true" [hasInfo]="true">
          <hx-tab>
            <ng-template hxTabHeading>
              <h6 class="mt-0 mb-1">Overdue</h6>
              <div class="hx-columns mt-0 pt-0">
                <div class="hx-column hx-flex-grow">
                  <h6 class="mt-0 mb-0">10 <small>in April</small></h6>
                  <h6 class="mt-0 mb-0">13 <small>in total</small></h6>
                  <h6 class="mt-0 mb-0">&nbsp;</h6>
                </div>
              </div>
            </ng-template>
            Tab 1 content
          </hx-tab>
          <hx-tab>
            <ng-template hxTabHeading>
              <h6 class="mt-0 mb-1">Upcoming</h6>
              <div class="hx-columns mt-0 pt-0">
                <div class="hx-column hx-flex-grow">
                  <h6 class="mt-0 mb-0">23 <small>in April/May</small></h6>
                  <h6 class="mt-0 mb-0">300 <small>claims</small></h6>
                  <h6 class="mt-0 mb-0">&nbsp;</h6>
                </div>
              </div>
            </ng-template>
            Tab 2 content
          </hx-tab>
          <hx-tab>
            <ng-template hxTabHeading>
              <h6 class="mt-0 mb-1">Assigned/New</h6>
              <div class="hx-columns mt-0 pt-0">
                <div class="hx-column hx-flex-grow">
                  <h6 class="mt-0 mb-0">40 <small>total</small></h6>
                  <h6 class="mt-0 mb-0">&nbsp;</h6>
                  <h6 class="mt-0 mb-0">&nbsp;</h6>
                </div>
              </div>
            </ng-template>
            Tab 3 content
          </hx-tab>
          <hx-tab>
            <ng-template hxTabHeading>
              <h6 class="mt-0 mb-1">Plan Started</h6>
              <div class="hx-columns mt-0 pt-0">
                <div class="hx-column hx-flex-grow">
                  <h6 class="mt-0 mb-0">23 <small>awaiting recall</small></h6>
                  <h6 class="mt-0 mb-0">40 <small>recalled</small></h6>
                  <h6 class="mt-0 mb-0">&nbsp;</h6>
                </div>
              </div>
            </ng-template>
            Tab 4 content
          </hx-tab>
          <hx-tab>
            <ng-template hxTabHeading>
              <h6 class="mt-0 mb-1">Team Participation</h6>
              <div class="hx-columns mt-0 pt-0">
                <div class="hx-column hx-flex-grow">
                  <h6 class="mt-0 mb-0">23 <small>participating</small></h6>
                  <h6 class="mt-0 mb-0">11 <small>no response</small></h6>
                  <h6 class="mt-0 mb-0">5 <small>declined</small></h6>
                </div>
              </div>
            </ng-template>
            Tab 5 content
          </hx-tab>
          <hx-tab>
            <ng-template hxTabHeading>
              <h6 class="mt-0 mb-1">Awaiting Billing</h6>
              <div class="hx-columns mt-0 pt-0">
                <div class="hx-column hx-flex-grow">
                  <h6 class="mt-0 mb-0">23 <small>in April</small></h6>
                  <h6 class="mt-0 mb-0">40 <small>in total</small></h6>
                  <h6 class="mt-0 mb-0">&nbsp;</h6>
                </div>
              </div>
            </ng-template>
            Tab 6 content
          </hx-tab>
          <hx-tab>
            <ng-template hxTabHeading>
              <h6 class="mt-0 mb-1">Completed</h6>
              <div class="hx-columns mt-0 pt-0">
                <div class="hx-column hx-flex-grow">
                  <h6 class="mt-0 mb-0">23 <small>in April</small></h6>
                  <h6 class="mt-0 mb-0">40 <small>in total</small></h6>
                  <h6 class="mt-0 mb-0">&nbsp;</h6>
                </div>
              </div>
            </ng-template>
            Tab 7 content
          </hx-tab>
        </hx-tabset>

      </div>
    </div>

    <br>

    <h5 id="infotabcode">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">

        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
        <code [highlight]="code.exampleInfoTabTemplate"></code>
      </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>

    <hr>

    <h4 id="api">API Reference</h4>


    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">TabsetComponent</h5>
        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Inputs</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>justified</td>
              <td><kbd>boolean</kbd></td>
              <td>if true tabs fill the container and have a consistent width</td>
            </tr>
            <tr>
              <td>type</td>
              <td><kbd>string</kbd></td>
              <td>navigation context class: 'tabs' or 'pills'</td>
            </tr>
            <tr>
              <td>vertical</td>
              <td><kbd>boolean</kbd></td>
              <td>if true tabs will be placed vertically</td>
            </tr>
            <tr>
              <td>hasInfo</td>
              <td><kbd>boolean</kbd></td>
              <td>if true info tab classes will be added</td>
            </tr>
            <tr>
              <td>contentCustomClass</td>
              <td><kbd>string</kbd></td>
              <td>if set, will be added to the tab's content class attribute</td>
            </tr>
            <tr>
              <td>stickyHeader</td>
              <td><kbd>boolean</kbd></td>
              <td>if set, will make the tab nav items sticky</td>
            </tr>
            <tr>
              <td>stickyHeaderOffset</td>
              <td><kbd>string</kbd></td>
              <td>Add an offset (usually negative) to the position of sticky. REM is the unit of value.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">TabDirective</h5>
        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Inputs</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>active</td>
              <td><kbd>boolean</kbd></td>
              <td>tab active state toggle</td>
            </tr>
            <tr>
              <td>customClass</td>
              <td><kbd>string</kbd></td>
              <td>if set, will be added to the tab's class atribute</td>
            </tr>
            <tr>
              <td>disabled</td>
              <td><kbd>boolean</kbd></td>
              <td>if true tab can not be activated</td>
            </tr>
            <tr>
              <td>heading</td>
              <td><kbd>string</kbd></td>
              <td>tab header text</td>
            </tr>
            <tr>
              <td>id</td>
              <td><kbd>string</kbd></td>
              <td>tab id</td>
            </tr>
            <tr>
              <td>removable</td>
              <td><kbd>boolean</kbd></td>
              <td>if true tab can be removable, additional button will appear</td>
            </tr>
          </tbody>
        </table>
        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Outputs</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>deselect</td>
              <td>fired when tab became inactive, $event:Tab equals to deselected instance of Tab component</td>
            </tr>
            <tr>
              <td>removed</td>
              <td>fired before tab will be removed, $event:Tab equals to instance of removed tab</td>
            </tr>
            <tr>
              <td>select</td>
              <td>fired when tab became active, $event:Tab equals to selected instance of Tab component</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">TabsetConfig</h5>
        <table class="hx-table is-striped">
          <thead>
            <tr>
              <th>Properties</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>type</td>
              <td><kbd>string</kbd></td>
              <td>provides default navigation context class: 'tabs' or 'pills'</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-right is-active is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>
  </ul>
</aside>
