@import "datepicker-variables";

.hxa-datepicker {
    &-form {
        position: relative;
        max-width: $hx-datepicker-calendar-width;
    }

    &-control {
        margin: 0;
    }

    &-calendar {
        position: absolute;
        z-index: 99;
        left: 0;
        max-width: $hx-datepicker-calendar-width;
        &-top {
            bottom: 100%;
        }

        &-bottom {
            top: 70%;
        }
        & hxa-datepicker {
          max-width: $hx-datepicker-calendar-width;
        }
    }

    &-help {
        font-size: .75rem;
        margin-top: .25rem;
        color: #63605f;
    }
}

.hxa-datepicker-form input[readonly] ~ .hx-label {
    top: -.5rem;
    font-size: .75rem;
    color: #41b987;
}
hxa-datepicker {
  border: 1px lightgray solid;
  max-width: $hx-datepicker-calendar-width;
}
