<section class="hx-section scrollable-y" #container>
  <div class="hx-section is-comfortable">

    <h1 class="hx-title">Dialogs</h1>
    <h2 class="hx-subtitle">A dialog mainly used for adding form content or showing a notification of some sort.</h2>

    <hr>

    <h4 id="usage">Usage</h4>
    <p>Add the DialogModule to AppModule or SharedModule.</p>

    <pre>
    <code [highlight]="code.usage"></code>

  </pre>


    <hr>

    <h4 id="example">Example</h4>

    <div class="hx-columns">
      <div class="hx-column">


        <button class="hx-button is-primary is-outlined" type="button" (click)="openDialog()">
          Open Dialog
        </button>


      </div>
    </div>

    <br>

    <h5 id="code">Code</h5>

    <div class="hx-columns">
      <div class="hx-column">
        <hx-tabset>
          <hx-tab heading="Template">
            <pre>
              <code [highlight]="code.exampleTemplate"></code>
            </pre>
          </hx-tab>

          <hx-tab heading="Typescript">
            <pre>
            <code [highlight]="code.exampleTypescript"></code>
          </pre>

          </hx-tab>
          <hx-tab heading="Custom Modal Component">
            <pre>
            <code [highlight]="code.exampleModal"></code>
          </pre>
          </hx-tab>
          <hx-tab heading="Module">
            <p>You need to declare the custom modal component as an entry component for dynamic loading</p>
            <pre>
            <code [highlight]="code.exampleModule"></code>
          </pre>
          </hx-tab>
        </hx-tabset>
      </div>
    </div>

    <hr>

    <h4 id="api">API Reference</h4>

    <div class="hx-columns">
      <div class="hx-column">
        <h5 class="is-primary">DialogService</h5>
        <table class="hx-table  is-striped">
          <thead>
          <tr>
            <th>Method</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>open(component: any, config: DialogConfig, parameters?: Object)</td>
            <td><kbd>DialogOverlayRef</kbd></td>
            <td>Opens and loads a dynamic component</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

<aside *ngIf="contentsNav" class="hx-sidebar is-active is-right is-medium-width is-scrollable hx-bg-white">
  <ul class="hx-nav hx-nav-vertical">
    <li class="hx-nav-heading">
      <h6>Contents</h6></li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#usage')"><span>Usage</span></a>
    </li>

    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#example')"><span>Examples</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#code')"><span>Code</span></a>
    </li>
    <li class="hx-nav-item">
      <a class="hx-nav-link" (click)="scrollTo('#api')"><span>API Reference</span></a>
    </li>

  </ul>
</aside>
